html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);
--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);
--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);
--Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background:no-repeat linear-gradient(0deg, hsl(240, 73%, 65%),hsl(273, 75%, 66%)) ;
}

.container{
    
    min-height: 100vh;
    height: auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.container-card {
    width:min(80%, 500px) ;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: white;
    border-radius: 10px;
}
.image-mobile{
    position: relative;
    padding-bottom: 20px;
}
#mobile-woman {
    position: absolute;
    top:-110px;
}
#image-background{
    position: relative;
    left:15px;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.title {
    cursor: pointer;
}
.icon{
    display: block;
    padding-bottom: 1px;
    padding-left: 20px;
    float: right;
    padding-left: 20px;
}
.icon img {
    width: 12px;
}
section {
   
    padding: 20px 0px;
    border-bottom: 1px solid var(--Light-grayish-blue);
    margin:0px 20px;
}
section:hover .title {
    color:var(--Soft-red);
}

.answer {
    max-height: 0px;
    overflow: hidden;
    transition: max-Height 0.2s ease-in;
}

.answerActive{
    max-height: 20rem;
    
}

.answer p {
    margin-top: 20px;
}

.bold {
    font-weight: 700;
}

@media (max-width: 786px){
.image-desktop{
    display:none;
}
#box{
    display: none;
}
}
@media (min-width: 786px) {
    
    .image-mobile{
        display: none;
    }
    
    .container-card{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: white;
        /* border: 1px solid red; */
        width: min(70%,1000px);
        margin: 0;
        padding: 50px 0px;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;

        position: relative;
        /* overflow: visible; */
        overflow-x: visible; 
        overflow-y: visible; 
        margin: 70px;
        z-index: 0;
        
        
    }
    .FAQ-text{
        /* border: 1px solid red; */
        width: 50%;
        padding-left: 0px;
        padding-right: 30px;
    }
    
    h1 {
        text-align: left;
        margin: 20px;

    }

    .image-desktop{
        /* border: 1px solid red; */
        position: relative;
        min-height: 100%;
        
        overflow-x: clip ;
        overflow-y: visible;
    }

    #desktop-woman{
        position: relative;
        left: -100px;
        overflow:hidden;
        z-index: 2;
    }

    #desktop-background{
    position: absolute;
    top: -370px;
    left:-600px;
    z-index: 0;
    }

    #box {
        position: absolute;
        top: 210px;
        left: -100px;
        z-index: 3;
        overflow: visible;
    }

}